<div style="font-family: time;">
    <table style="width: 100%; font-size: 14px; font-size: 18px;">
        <tr>
            <td style="width: 35%;">
                <b>BỘ GIÁO DỤC VÀ ĐÀO TẠO</b>
            </td>
            <td style="width: 50%; text-align: center">
                <b>ĐỀ THI TUYỂN SINH ĐẠI HỌC NĂM 2014</b>
            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                -----------------
            </td>
            <td style="text-align: center">
                <b>Môn: TIẾNG ANH; Khối D</b>
            </td>
        </tr>

        <tr>
            <td style="text-align: center; font-style: italic;">
                ĐỀ CHÍNH THỨC<br/>
                (Đề thi có 6 trang)
            </td>
            <td style="text-align: center; font-style: italic;">
                Thời gian làm bài: 90 phút, không kể thời gian phát đề
            </td>
        </tr>

        <tr>
            <td style="text-align: center; font-style: italic;">
                &nbsp;
            </td>
            <td style="text-align: right;">
                <div style="border: 3px solid black; width: 125px; display: inline-block; padding: 5px; font-weight: bold;">
                    Mã đề thi 236
                </div>
            </td>
        </tr>

    </table>

    <b><i>
        Họ, tên thí sinh:.......................................................................... <br/>
        Số báo danh:...............................................................................
    </i></b>
    <br/>
    <b style="font-size: 17px;">
        ĐỀ THI GỒM 80 CÂU (TỪ QUESTION 1 ĐẾN QUESTION 80)
    </b>
    <br/>
</div>
