<div class="whole-question whole-text-passage">
   <p class="requirement-text"><b><i style="font-family: times;">{{passage.requirement}}</i></b> </p>
    {{#if passage.text_content}}
   <div>
       {{{passage.text_content}}}
   </div>
    {{/if}}
</div>
