    <div class="row">
        <div class="col-xs-10 col-md-10" style="line-height: 2em;">{{choice}}</div>
        <div class="col-xs-2 col-md-2"  style="direction: rtl;text-align: right;    ">
            <button role="button-revoke" type="button" data-loading-text="Processing..." class="btn btn-primary btn-sm" {{action "revokeRole"}} >
                Change
            </button>
        </div>
    </div>
